@media screen and (min-width: 350px) and (max-width: 690px){
    .form-card{
        width: 100%;
        height: 100%;
        margin: 0rem;
        z-index: 15;
        padding: 0rem 0rem;
    }

    .form-header{
      background-color:  rgb(0, 0, 0);
    }
    .form-step {
        width: 20%;
        color: rgb(60, 181, 219, 0.6);
        font-size: calc(5px + 2vmin);
        padding: 0.05rem 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-step .current-title, .completed-title {
        width: 20%;
        color: rgb(60, 181, 219, 1);
        font-weight: bold;
        font-size: calc(5px + 2vmin);
        /* padding: 0.03rem 0.2rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-step .completed-title{
        margin: 0.2rem 0rem 0.5rem 0rem;
    }

    .form-step #current-circle {
    width: 18px;
    height: 18px;
    background: rgb(60, 181, 219, 1);
    border: 1px solid rgb(60, 181, 219);
    border-radius: 50%;
    display: inline-block;
    }

    .form-step .completed-icon {
        width: 19px;
        height: 19px;
        display: inline-block;
        }


    #circle {
    width: 17px;
    height: 17px;
    background: rgb(60, 181, 219, 0);
    border: 1px solid rgba(60, 181, 219, 0.702);
    border-radius: 50%;
    display: inline-block;
  }

  .form-progressbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  
  .form-progressbar-container{
    width: 100%;
    height: 1rem;
    background-color: rgb(228, 228, 228);
    box-shadow: inset 0px 0px 5px 0.5px rgba(0, 0, 0, 0.5);
    
  }
  .progressbar-color{
    height: 100%;
    background-color: rgba(60, 181, 219, 1);
  }

  .form-progressbar-container .progressbar-separators{
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding: 0px 45px;
    z-index: 13;
    transform: translate(0%, -1.2rem);
  }

  .progressbar-separators .separator{
    width: 3%;
    height: 100%;
    background-color: rgb(228, 228, 228);
    box-shadow: inset 0px 0px 3px 0.3px rgba(0, 0, 0, 0.4);
    list-style: none;
  }
  .form-container{
    width: 100%;
    height: 100%;
  }
  .form-body{
    padding: 0.5rem;
    height: 70%;
  }

  .form-body form{
    width: 100%;
    height: 100%;
  }

  .form-footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .form-footer button{
    margin: 0 0.5rem 0 0.05rem;
  }

  .form-labels-issue{
    width: 90%;
    color: rgba(60, 181, 219, 0.6);
    font-weight: bolder;
    background-color: rgb(245, 245, 245);
    margin: 10px 0px 0 0px;
    padding: 0 1rem 0 1rem;

  }

  .form-labels-customer{
    width: 90%;
    color: rgb(0, 0, 0);
    font-size: calc(6px + 2vmin);
    font-weight: normal;
    background-color: rgb(245, 245, 245, 0);
    margin: 0px 0px 0 0px;
    padding: 0 1rem 0 1rem; 
  }

  .form-labels{
    width: 90%;
    color: rgb(0, 0, 0);
    font-size: calc(12px + 2vmin);
    font-weight: bolder;
    background-color: rgb(245, 245, 245, 0);
    margin: 10px 0px 0 0px;
    padding: 0 1rem 0 1rem;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: rgba(0, 0, 0, 0.4);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(0, 0, 0, 0.4);
  }
  
  ::placeholder {
    color: rgb(0, 0, 0, 0.4);
  }

}