.cms-react-boilerplate__container {
  height: 100%;
  text-align: center;
  background-color: #bed6ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
